opencv-python==4.0.0.21
einops==0.3.0
terminaltables==3.1.0
moviepy==1.0.3
scipy==1.5.4
decord==0.5.2
pyyaml==5.4.1
filterpy==1.4.5
sklearn
filelock==3.0.12
pandas
shapely==1.7.1
pyclipper==1.2.1
scikit-image
filterpy==1.4.5
paddleseg==2.0.0





